body {
    font-family:Palatino,Georgia,"Times New Roman",serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    padding: 0 5%;
    line-height: 1.5;
}
.title {
    font-size: 2.4em;
    font-weight: bold;
    line-height: 1;
}
.subtitle {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-style: italic;
}
img {
    display: block;
    margin: 2em auto;
}
a {
    color:#000;
}
ul {
    list-style-type: disc;
}
